<%- include('./partials/header'); -%>

<div class="container-fluid home">
    <div class="container hi">
        <h1 id="hi">Welcome <%= name %> </h1>
    </div>
    <div class="container laLogo">
        <img src="/images/LarsA/hode_retusjert1_blå.webp" alt="logo">
    </div>
    <div class="logout">
        <form action="/logout?_method=delete" method="post">
            <button class="btn btn-danger" type="submit">Logout</button>
        </form>
    </div>
</div>


<%- include('./partials/footer'); -%>