<%- include('./partials/header'); -%>


<div class="container regForm">
    <div class="row">
        <div class="col-6">
            <form action="/register" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                        placeholder="Enter Password" required>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
        <div class="col-6">
            <img src="/images/LarsA/hode_hvit.png" alt="logo">
        </div>
    </div>
</div>

<%- include('./partials/footer'); -%>