* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin-top: 75px;
	height: 100%;
	background-color: #818281;
	background-image: linear-gradient(to bottom right, #818281 10%, #202121);
}

.regForm {
	width: 70%;
	margin-bottom: 400px;
}

.container-fluid {
	margin-top: 30px;
	margin-bottom: 80px;
	height: 100%;
}

h1 {
	font-family: 'Michroma', sans-serif;
	text-align: center;
	font-size: 45px;
	letter-spacing: 4px;
	color: #fff;
	text-shadow: 2px 3px 5px black;
}

.container-fluid.top {
	margin-top: 15px;
}

.container-fluid.home {
	height: 600px;
	margin: 0;
}

h1#hi {
	font-family: 'New Tegomin', serif;
	color: darkorange;
	font-size: 45px;
	text-transform: capitalize;
	letter-spacing: 4px;
}

.laLogo {
	margin-top: 45px;
}

a {
	font-family: 'New Tegomin', serif;
	color: #f8c950;
	text-decoration: none;
	font-size: 20px;
}

label {
	color: crimson;
}

img {
	width: 80%;
	margin-left: 40px;
	margin-top: 25px;
}

/*
font-family: 'Dosis', sans-serif;
font-family: 'Michroma', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'New Tegomin', serif;
*/
